.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding-top: 10px;
}

.card-img-top2 {
    width: 400px;
}